.cards {
  text-align: center;
}

.cards_button-wrapper {
  box-sizing: border-box;
  display: inline-block;
  width: 47.88%; /* 350/731 */
  text-align: center;
  vertical-align: middle;
}

.cards_button {
  box-sizing: border-box;
  margin-top: 130px;
  padding: 0.1% 20.3%;
  min-height: 70px;
  font-size: 1.875em;
  text-transform: uppercase;
  border: none;
  border-radius: 5px;
  background-color: $main-color;
}

@media (max-width: $pre-tablet-one) {
  .cards_button-wrapper {
    width: auto;
  }

  .cards_button {
    margin-top: 25%;
    min-width: 125px;
  }
}
