.footer {
  padding-top: 14.4%;
  padding-bottom: 12.3%;
  width: 100%;
  background-color: $grey-light;
}

.footer__copyright {
  margin: 0;
  font-family: "OpenSans", "Arial", sans-serif;
  font-size: 0.813em;
  text-align: center;
}
