$purple: #8c5d79;
$dark-red: #1a1a1a;
$marine: #5a9aa8;
$marine-light: #89c39b;
$blue-light: #88dbed;
$wine: #e1757d;
$white: #ffffff;
$grey-light: #f5f5f5;
$black: #000000;
$mobile-width: 320px;
$pre-tablet-one: 400px;
$pre-tablet-two: 500px;
$pre-tablet-three: 700px;
$tablet-width: 768px;
$pre-desktop-one: 910px;
$pre-desktop-two: 1067px;
$desktop-width: 1366px;
$main-color: $purple;
